html, body {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-weight: bold;
  }
  
  .container {
    margin: 0 auto;
    max-width: 940px; 
    padding: 0 10px;
  }
  
  .header {
    background: url(https://images.unsplash.com/photo-1614375879721-b6319a681586?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80) no-repeat center center; 
    background-size: cover;
    height: 800px;
    text-align: center; 
  }
  
  .header .container {
    position: relative;
    top: 200px;
  }
  
  .header h1 {
    color:white;
    line-height: 100px; 
    font-size: 80px;
    margin-top: 0;
    margin-bottom: 80px;
    text-transform: uppercase; 
  }
  
  @media (min-width:850px) {
    .header h1 {
      font-size: 120px;
    }
  }
  
  .header p {
    color: rgb(186, 186, 247);
    font-weight: 500;
    letter-spacing: 8px;
    margin-bottom: 40px;
    margin-top: 0;
    text-transform: uppercase; 
  }
  
  .btn {
    color: #fff;
    padding: 10px 40px;
    text-decoration: none; 
    transition: background .5s; 
  }
  
  .nav { 
    background: #000;
    height: 80px; 
    width: 100%;
  }
  
  .nav ul {
    height: 80px;
    list-style: none;
    margin: 0 auto; 
    padding: 0;
  }
  
  .nav ul li {
    color: #fff;
    display: inline-block; 
    height: 80px;
    line-height: 80px; 
    list-style: none;
    padding: 0 10px;
    transition: background .5s; 
  }
  
  .btn:hover, .nav ul li:hover {
    background: #117bff;
    cursor: pointer; 
    transition: background .5s;  
  }
  
  .main .container {
    margin: 80px auto;
  }
  
  .main img {
    float: left;
    margin: 50px 80px 50px 0;
  }
  
  .jumbotron {
    background: url(https://images.unsplash.com/photo-1519446183880-73cdeae87cef?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1051&q=80) center center;
    background-size: cover;
    height: 600px; 
  }
  
  .jumbotron .container {
    position: relative;
    top: 220px;
  }
  
  .jumbotron h2 {
    color:  white;
    text-align: right; 
    
  }
  
  .jumbotron p {
    color: white;
    text-align: right; 
  }
  
  .jumbotron .btn {
    margin: 10px 0 0;
    float: right; 
  }
  
 
  
  .footer-container p, ul { 
    margin: 0;  
    padding:0;
    text-align: center;
  }
  
  @media (max-width: 500px) {
    .header h1 {
      font-size: 50px;
      line-height: 64px;
    }
  
    .main, .jumbotron {
      padding: 0 30px;
    }
  
    .main img {
      width: 100%;
    }
  }
  #github, #linkedin {
      border-radius: 15px;
  }
  #my-img {
    text-align: center;
    float:left;
    height: 275px; 
    border-radius:90px;
    border: solid white;
    margin-top: 15px;
    margin-left:5%;
    -webkit-box-shadow: 10px 9px 2px 2px rgba(15, 15, 15, 0.73); 
     box-shadow: 10px 9px 2px 2px rgba(10, 10, 10, 0.73);
    
}    
.resume{
    border-style: ridge;
    border-radius: 65px;
}
#top-page{
    float: right;
}
.weather, .password {
    text-align:center;
    color: white;
    margin: 25px;
    padding: 10px;
    width: 100%;
    height: 50%;
    font-size: small;
    background-color:rgb(165, 63, 63);
    border-radius: 65px;
    
}
#weather, #password, #project1, #project2 {
    border-radius: 45px;
    position:relative;
    -webkit-box-shadow: 17px 15px 17px 9px rgba(15, 15, 15, 0.73); 
    box-shadow: 17px 15px 17px 9px rgba(10, 10, 10, 0.73);
}

.work-container{
    display: flex;
    justify-content:space-evenly;
    position: static;
    
}
.project1, .project2 {
    text-align:center;
    color: white;
    margin: 25px;
    padding: 10px;
    width: 100%;
    height:50%;
    font-size: small;
    background-color:rgb(247, 130, 34);
    border-radius: 65px;
    
}
@media screen and (max-width: 768px) {
    /* Use flex-direction to stack the navbar, sidebar, and body */
    main,
    nav, 
    .work-container, 
    .container,
    header,
    footer {
      flex-direction: column;
    }
    /* Make the sidebar stack below the body */
    aside {
      order: 2;
    }
    /* Change the header background */
    header {
      background: #772014;
    }
    /* Change the navbar and footer background */
    nav,
    footer {
      background-color: #bb8588;
    }
  }
  #skills {
    background: url(https://images.unsplash.com/photo-1516302454183-292c55392321?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80) center center;
    background-size: cover;
    height: 500px; 
  }
  .skills-list, ul  {
    display: list-item;
    list-style: none;
    text-align: center;
    overflow:auto;
    text-decoration: solid;
    font-size: 20px;
    font-weight: bold;
    color: white;
    text-shadow: 10px 5px 10px rgba(8, 1, 1, 0.2);
    margin-top: 85px;
    border-radius: 20px;
    align-content: center;
    
}