* {
    box-sizing: border-box;
}
header{
    flex: 1 0 100px;
    display: box;
    padding: 10px;
    border-style: solid;
    border-width: 1px;
    text-align: center;
    background: #379683;
}


body {
    font-family:Arial, Helvetica, sans-serif;
}
h1{
    color: #75fadf;
}
.header {
    background-color: #8ea56c;
    color: #023114;
}
#demo {
    background-color: black;
    }
h2 {
    color:seashell;
}    

p {
    color:rgb(247, 150, 32);
    display: box;
    border-style: solid;
    border-color:snow;
    text-align: center;
    
}
.card header {
    padding: 20px;
}

.card img {
    width: 75%;
}
#my-img {
    display: box;
    border-style: solid;
    border-color:rgb(247, 150, 32);
    border-width: 10px;
    text-align: center;
    
}

@media screen and (max-width: 992px) {
    .card {
        width: 100%;
        background-color: #19433a;
}

@media screen and (max-width: 768px) {
    .card {
        width: 100%;
        background:rgb(105, 103, 104);
    }
}
@media screen and (max-width: 576px) {
    .card {
        width: 100%;
        background: rgb(1, 83, 83);
    }
}
section.card header img p {
    display: flex;
    margin-top: 3%;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 50px;
}