* {
    box-sizing: border-box;
}
.masthead {
    border-style: solid;
    border-color: coral;
    border-width: 15px;
    background-image: url(https://images.unsplash.com/photo-1512485500138-bc4c423ea4b8?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1652&q=80);
    background-repeat: no-repeat;
    padding: 1px;
    border-radius: 25px;
    margin-right: .5%;
    margin-left:.5%; 
    height: 690px;  
    position: relative;
             
}
.masthead-intro {
    margin-top: 3%;
    margin-bottom: 1px;
    font-size:4em;
    color: blanchedalmond;
    text-align: center;
    -webkit-text-stroke: 2px black;
}
.masthead-heading {
    margin-top: 1em;
    font-weight: bold;
    font-size: 4em;
    letter-spacing: 0.01em;
    text-transform:uppercase;
    color: coral;
    text-align: center;
    -webkit-text-stroke: 2px blanchedalmond;
}

h6 {
    color:black;
    text-align:center;
    font-size: 2em;
    -webkit-text-stroke: .175px blanchedalmond;
    
}

#my-img {
    text-align: center;
    top:25px;
    float:left;
    padding-left: 10px;
    width:350px;
    height: 375px; 
    border-radius:50px;
    margin-top: 35px;
    margin-left:5%;
    
}    
nav {
    display: flex;
    justify-content:flex-end;
    justify-content:space-evenly;
   
}
a:visited, a:link {
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display:inline-block;
    border-radius: 10px;
    color:rgb(6, 6, 177);
    font-style: oblique;
    
}
.sub-header p {
    margin-left: 200px;
    border-left-style: groove;
    padding: 15px;
    margin-right: 100px;
}
  
body {
    background: radial-gradient(circle, blanchedalmond, rgb(250, 207, 127)); 
    font-family: Georgia, Times, 'Times New Roman', serif; 
    color: black; 
    margin-left: 5%;
    margin-right:5%;
  

}
main {
    display:flex;
    justify-content:space-around;
    align-items: center;
    flex-wrap: wrap;
    
}
.main-container1, .main-container2, .main-container3 {
    position:relative;
    background-color:rgb(179, 179, 236);
    border-radius: 10px;
    border-style: double;
    padding: 20px;
    width:min-content;
    display:flex;
    flex-direction:row;
    border-color: coral;
    border-width: 15px;
    align-items: flex-end;
    display: flow-root;
   

}
.main-container1 #my-img1 #my-img2 #my-img3 {
    height: 100%;
    width: 100%;
}
.main-container1:hover .violet-screen{
    opacity: 0.5;
    background-color:rgb(186, 114, 253);
    height: 100%;
    width: 100%;
    position:absolute;
}
.main-container2:hover .gray-screen{
    opacity: 0.5;
    background-color:gray;
    height: 100%;
    width: 100%;
    position:absolute;
    
}
.main-container3:hover .orange-screen{
    opacity: 0.5;
    background-color:orange;
    height: 100%;
    width: 100%;
    position:absolute;
}
.skills, ul  {
    display: list-item;
    list-style: none;
    text-align: center;
    overflow:auto;
    
}

.workContainer1, .workContainer2, .workContainer3 {
    border-radius: 10px;
    border-style: double;
    padding: 20px;
    width:min-content;
    display: flow-root;
    flex-direction:row;
    border-color: coral;
    border-width: 15px;
    align-items: flex-end;
    background-color:rgb(179, 179, 236);
    color:black;
    
    
}
.workContainer {
    display:flex;
    justify-content:space-around;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    
}
.weatherDes, .passwordDes, .projectDes {
    text-align:center;
    margin-left: 200px;
    margin-right: 200px;
    
}
.contact-info {
    text-align: center;
    padding: 15px;
    background-color:rgb(179, 179, 236);
    color:black;
    border-radius:20px;
    height: 200px;
    border: solid coral;
    border-width: 5px;
    

}
.resume {
    align-items: center;
    text-align: center;
}

@media screen and (max-width: 992px) {
    .sub-header, .main-container1, .main-container2, .main-container3, .workContainer {
        width: 100%;
        background-color: rgb(248, 227, 188);
        border-radius:5px;
        display:flex;
        flex-direction: column;
}

@media screen and (max-width: 768px) {
    .sub-header, .main-container1, .main-container2, .main-container3, .workContainer{
        width: 100%;
        background:rgb(220, 193, 247);
        border-radius:5px;  

}
@media screen and (max-width: 576px) {
    .sub-header, .main-container1, .main-container2, .main-container3, .workContainer {
        width: 100%;
        background:  rgb(248, 227, 188);
        border-radius:5px;

} 